<h3>View Plant Details</h3>
<!-- <div>
    <div>
        <label><b>Id:</b></label> {{plant.id}} <br>
        <label><b>Name:</b></label> {{plant.name}} <br>
        <label><b>Age:</b></label> {{plant.age}} <br>
        <label><b>Type:</b></label> {{plant.type}} <br>
        <label><b>Special Care Instructions:</b></label> {{plant.specialInstructions}} <br>
    </div>
</div>
<span></span>
<button (click) = "goToCreateScheduler()" class = "btn btn-success" id = "goToCreateScheduler">Schedule New Task</button> -->

<div>
        <mat-list>
            <mat-list-item>Id: {{plant.id}}</mat-list-item>
            <mat-divider></mat-divider>
    
            <mat-list-item>Name: {{plant.name}}</mat-list-item>
            <mat-divider></mat-divider>
    
            <mat-list-item>Age: {{plant.age}}</mat-list-item>
            <mat-divider></mat-divider>
    
            <mat-list-item>Type: {{plant.type}}</mat-list-item>
            <mat-divider></mat-divider>
    
            <mat-list-item>Special Care Instructions: {{plant.specialInstructions}}</mat-list-item>
            <mat-divider></mat-divider>
    
        </mat-list>
    </div>
    <span></span>
<button (click) = "goToCreateScheduler()" class = "btn btn-success" id = "goToCreateScheduler">Schedule New Task</button>
